/* ------------------- VARIABLES --------------------- */

:root {
    --backgroundPrimary: #f8f7f2;
    --backgroundSecondary: #ffffff;
    --textPrimary: #473c38;
    --textSecondary: #6b4c3a;
    --textTertialy: #ff914d;
    --borderColor: #ae7e5e;
    --accentBlue: #5271ff;
}

@font-face {
    font-family: ClearSans-Bold;
    src: url(./assets/fonts/ClearSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: ClearSans-Regular;
    src: url(./assets/fonts/ClearSans-Regular.ttf);
    font-weight: normal;
}

/* ------------------- GENERAL STYLES --------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundSecondary);
    color: var(--textPrimary);
    font-family: ClearSans-Regular, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
}

a {
    font-style: normal;
    color: inherit;
    text-decoration: none;
    outline-style: none;
    outline: none;
}


img,
video {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.accent {
    color: var(--textTertialy)
}

/* ------------------- HEADER STYLES --------------------- */

.header .container {
    background-color: var(--backgroundPrimary);
    display: flex;
    border-bottom: 9px solid var(--borderColor);
}

.header__photo__wrapper {
    flex-basis: 40%;
    padding: 20px 20px 20px 50px;
}

.header__photo {
    object-fit: cover;
    width: 100%;
}

.header__info__wrapper {
    flex-basis: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
}

.header__info__name {
    flex-grow: 1;
    font-family: Lato;
    font-weight: bold;
    font-size: 64px;
    color: var(--textSecondary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 6px solid var(--borderColor);
}

.header__info__position {
    flex-grow: 1;
    font-weight: normal;
    font-size: 36px;
    color: var(--textSecondary);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ------------------- SIDE BAR STYLES --------------------- */

.main .container {
    display: flex;
}

.aside__wrapper {
    flex-basis: 40%;
    padding: 30px 20px 20px 50px;
    background-color: var(--backgroundPrimary);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.aside__title {
    text-transform: uppercase;
    font-family: ClearSans-Bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.aside__list {
    display: flex;
    flex-direction: column;
}

#contacts {
    list-style: none;
}

#tech-skills,
#soft-skills,
#languages {
    list-style: circle;
}

.aside__link {
    display: block;
    font-size: 26px;
    padding: 4px 0;
    text-decoration: underline;
}

.aside__link:hover {
    color: var(--accentBlue);
}

.aside__text {
    font-size: 26px;
    padding: 4px 0;
}

/* ------------------- CONTENT STYLES --------------------- */

.content__wrapper {
    flex-basis: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 50px 50px;
    gap: 30px;
}

.content__title {
    text-transform: uppercase;
    font-family: ClearSans-Bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.content__text {
    font-size: 22px;
    line-height: 1.25;
    font-family: ClearSans-Regular;
}

.content__link {
    font-family: ClearSans-Bold;
    font-size: 22px;
    line-height: 1.25;
    text-decoration: underline;
}

.content__link:hover {
    color: var(--accentBlue);
}

.project__wrapper {
    font-size: 22px;
    font-family: ClearSans-Bold;
}

.content__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}